@charset utf-8;

/**Body positioning**/
body{
	width:80%;
	margin : 0px auto;
	
}

main{
	width:100%;
	display: -webkit-flex; /* Safari */
	display:flex;
	flex-wrap: nowrap;
}


article:last-child{
	flex:3;
	width:100%;
}


/**Positioning of the sections representing the cloth categories**/
article section{
	display: flex;
	flex-wrap: wrap;
	width:100%;
	margin-top:20px;
}

section figure{
	flex:1;
	width:100%;
}


/* article div{ */
	/* display: flex; */
	/* width:100%; */
/* } */

/* article div figure{ */
	/* flex: 1; */
/* } */

/* img{ */
	/* width: 50px; */
/* } */
 img[alt='Diversity']{
	 margin-top:20px;
	width: 200px;
	
}
/**figure styling**/
figure{
	margin:10px;
}

figure img{
	width:200px;
	height:200px;
	
}

 h1{
	width:100%;
	text-align: center;
	text
}