@charset utf-8;




/*****************************Default Positioning*********/

/********Html positioning********/
body{
	display:flex;
	flex-direction:column;
}

/**Header positionning**/


header{
	width:100%;
	height:700px;
}




header div:nth-of-type(1) img{
	width:100%;
	height:100%;
}
header div:nth-of-type(2) {
	display:none;
}

header p {
	position:absolute;
	bottom:50%;
	color: red;
}
header p:nth-of-type(2) {
	bottom:27%;
}


/**Positioning of the direct children inside the main  tag**/
main{
	width:100%;
	display: -webkit-flex; /* Safari */
	display:flex;
	flex-wrap: nowrap;
}


main article:last-child{
	flex:3;
	flex-wrap:wrap;
	width:100%;
}

main article aside{
	text-align:center;
	margin: 15%;
	padding: 1.6%;
}



/**Positioning of the sections representing the cloth categories**/
article section div{
	display: flex;
	flex-wrap: wrap;
	width:100%;
	margin-top:20px;
}

section div figure{
	flex:1;
	width:100%;
}



 img[alt='Diversity Logo']{
	 margin-top:20px;
		width: 200px;
	
}
/**figure postitioning**/
figure{
	margin:1%;
	text-align:center;
}

figure img{
	width:100%;
	height:100%;
	
}

 h1{
	width:100%;
	text-align: center;
	
}
.offer{
	line-height:2rem;
}


/********************** positionninng the footer elements**/

footer{
	text-align:center;
	
}

section img{
	margin-left: 5%;
	margin-right: 5%;
}
footer h1{
	margin: 1% 0;
}
footer h2{
margin: 1% 0;}


/******** CTA elements positioning******************/
input[type='email']{
	width:50%;
}

@media screen and (max-width:700px){
	header{
		
		display:flex;
		flex-direction:column;
	}
	header div:nth-of-type(1){
		 flex:2;
	 }
	header div:nth-of-type(2) {
		display:block;
		visibility:visible;
		background-color:blue;
		display:flex;
		
	}
	header nav {
		flex:2;
		
	}
	header ul{
		display:flex;
		flex-direction:row;
		flex-wrap:nowrap;
	}
	header nav li{
		width: 33.33%;
		
	}	


	
	/*******article navigation list********/
	 article:nth-of-type(1){
		display:none;
	}
}


