ul li{
    margin:10%;
    text-align:center;
    height:2rem;
    background-color: #08090A;
    border-radius:7%;
    text-transform: uppercase;
}
ul li a{
    margin: auto 0;
    width:100%;
    text-decoration: none;
    color:white;
}

footer *{
	 
    color:white;
    background-color:#000000;
}

footer h1{
  font-size: 2em;
  font-family:  Rye,cursive;
}