/*@charset utf-8;*/

@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Monoton|Rye&display=swap');
/**Html styling **/
html{
	background-color: rgb(247, 247, 247);
	line-height:2px;


}
	
/**Header Style**/
header {
    background-size: 100%;
    font-size: 80px;
    color: #fff;
    text-align: center;
	
  }
  
  
  /***** header description styling in main tag************/
.brandInfo h1{
	font-weight: 900;
	font-size: 50px;
	color:white;
	background-color:rgb(245,181,83);
	margin: 1% 20%;
	padding: 0.7% 0;
}  
  
/********Navigation List styling*************/ 
 main>article{
	 background-color:rgb(245,181,83);
 }
ul li{
	  margin:10%;
	  text-align:center;
	  height:2rem;
	  background-color: #08090A;
	  border-radius:7%;
	  text-transform: uppercase;
  }
  ul li a{
	  margin: auto 0;
	  width:100%;
	  text-decoration: none;
	  color:white;
  }
  
  /*************** CTA styling ****************/
  form{
		border-radius: 15px;
		background-color:rgba(255, 255, 255, 1);
		color:rgba(240, 100, 0, 1);
		box-shadow: 10px 4px rgba(0, 0, 0, 0.81);
		border-width: 10px;
		border-style: groove;
		border-color:#393e46;
}

form h1{
	font-size: 15px;
	color:black;
	font-family: 'Baloo Bhaina', cursive;
}

input[type='text'],input[type='email'],textarea{
	border-width:3px;
	border-color: 	#222831;
}
input[type='email']:invalid{
	background-color:hsl(0, 100%, 73%);
}
input[type='email']:valid{
	background-color:hsl(163, 100%, 97%);
}
.formB{
	 background-color: #222831;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size:20px;

}
  /************footer styling*************/
  footer{
	 
	  color:white;
	  background-color:#000000;
  }
  
  footer h1{
	font-size: 2em;
	font-family:  Rye,cursive;
}
<<<<<<< HEAD
=======

>>>>>>> 60636235ed9b62473eb085db3d04e6973d8a847b





@media screen and (max-width:700px){
	header{
		font-size: 1rem;
		font-weight:200;
		color:#fff;
		text-align: center;
	}
	header div:nth-of-type(2) {
		background-color:rgb(245,181,83)
	}
	ul li{
		margin: 0 1%;
	}
	
	
	/**********article elemnts styling*********/
	 main figure:hover{
		 transform:scale(1.1);
	 }
}
<<<<<<< HEAD
.feedback{
=======
>>>>>>> 60636235ed9b62473eb085db3d04e6973d8a847b



<<<<<<< HEAD
=======

>>>>>>> 60636235ed9b62473eb085db3d04e6973d8a847b
