@charset utf-8;

/**Header positionning**/
header{
	width:100%;
	height:500px;
}


header img{
	width:100%;
	height:100%;
}
header p {
	position:absolute;
	bottom:50%;
	color: red;
}
header p:nth-of-type(2) {
	bottom:27%;
}

/**Positioning of the children inside the main tag**/
main{
	width:100%;
	display: -webkit-flex; /* Safari */
	display:flex;
	flex-wrap: nowrap;
}


main article:last-child{
	flex:3;
	width:100%;
}

main article aside{
	text-align:center;
	margin: 15%;
	padding: 1.6%;
}
.brandInfo{
	margin:0 2px;
	line-height:300%;
	text-align:center;
	word-spacing:1px;
}

/**Positioning of the direct children inside the main  tag**/
main{
	width:100%;
	display: -webkit-flex; /* Safari */
	display:flex;
	flex-wrap: nowrap;
}


main article:last-child{
	flex:3;
	width:100%;
}
img[alt='Diversity Logo']{
	 margin-top:20px;
	width: 200px;
	
}

/********************** positionninng the footer elements**/

footer{
	text-align:center;
	
}

section img{
	margin-left: 5%;
	margin-right: 5%;
}
footer h1{
	margin: 1% 0;
}
footer h2{
margin: 1% 0;}
