@charset utf-8;
/**Html styling **/
html{
	background-color: white;
}
	
/**Header Style**/
header {
    background:url(../Banner.jpg);
    background-size: 100%;
    font-size: 80px;
    color: #fff;
    text-align: center;
	
  }